{% extends 'base.tmpl' %}

{% block content %}
  <div class="error-page1">
    <h2 class="error-page-header">Oops! We are really sorry, the requested page cannot be found.</h2>
    <p>Please visit our <a href="/" >Home</a> page or checkout our <a href="/blog">Blog</a>.</p>
  </div>
{% endblock %}
