{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'annotation_helper.tmpl' as notes with context %}
{{ set_locale(lang) }}
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}

</head>
<body>

<div id="body-header">
    {% block hero %}{% endblock %}
    {% include "base_header.tmpl" %}
</div>

<div class="container" id="content" role="main">
    <div class="body-content">
        <!--Body content-->
        {{ template_hooks['page_header']() }}

        {% block content %}
        {% block extra_header %}
        <a href={{post.permalink()}}>
            <h1 class="page-header-1" >{{title}}</h1>
        </a>
	{% endblock %}
        {% block cards %}{% endblock %}
        {% endblock %}
        <!--End of body content-->
    </div>
</div>

<div id="body-footer">
    {% include "base_footer.tmpl" %}
</div>

{{ base.late_load_js() }}
    {% if date_fanciness != 0 %}
        <!-- fancy dates -->
        <script>
        moment.locale("{{ momentjs_locales[lang] }}");
        fancydates({{ date_fanciness }}, {{ js_date_format }});
        </script>
        <!-- end fancy dates -->
    {% endif %}
    {% block extra_js %}{% endblock %}
    <!--script>
    baguetteBox.run('div#content', {
        ignoreClass: 'islink',
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
    }});
    </script-->

{{ body_end }}
{{ template_hooks['body_end']() }}
</body>
</html>
