<div>
    <section class="hero-banner-sm" style="background-image: url({{ BANNER_URL }})">
        <div class="container-inner">
            <h1 class="headline">Scalable Web Applications
                <br>
                <span class="hook-words">People-Driven Design</span>
            </h1>
            <p class="sub-headline">
                We are experts in full-stack Django Development, ReactJS and DevOps.
            </p>
        </div>
        <a class="scroll-down icon-arrow-left" href="#content" />
    </section>
</div>
