<div>
    <section class="hero-banner-sm" style="background-image: url({{ BANNER_URL }})">
        <div class="container-inner">
            <h1 class="headline">
                Software Systems
                <br>
                Swiss Army Knife
            </h1>
            <p class="sub-headline">
                Proficient at all layers from low level systems to modern web stacks!
            </p>
        </div>
        <a class="scroll-down icon-arrow-left" href="#content" />
    </section>
</div>
