<div>
    <section class="hero-banner-sm"> <!-- style="background-image: url({{ BANNER_URL }}); opacity: 0.5"-->
        <div class="container-inner">
            <h1 class="headline">
                Modern Open Source Telecom Software
            </h1>
            <p class="sub-headline">
                Developing IP for OpenRAN using modern, memory-safe programming languages. </p>
                <p>Check our project  <a href="https://ystero.dev" class="ystero-link" target="blank">ystero</a>
            </p>
        </div>
        <a class="scroll-down icon-arrow-left" href="#content" />
    </section>
</div>
