{% extends "base.tmpl" %}

{% block content%}
<div class="blog-card">
    <header class="blog-header">
        <h2>{{ post.title() }}</h2>
        <div class="blog-subheader">
            <div>
                <time datetime="{{ post.formatted_date('webiso') }}">
                    {{ post.formatted_date(date_format) }}
                </time>
                <a class="green" href="{{ _link('author', post.author()) }}">
                    {{ post.author() }}
                </a>
            </div>
            <div>
                {% for tag in post.tags %}
                   <a class="blog-tag" href="{{ _link('tag', tag) }}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </header>
    <article class="blog-content">
        {{ post.text() }}
    </article>
</div>
{% endblock %}