.ystero-link {
	color: #ee701c;
}

.green {
    color: #296129;
}
.blue {
    color: #292961
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-color {
    background: aliceblue;
}

#content {
    flex: 1 0 auto;
}

.error-page-header {
    color: #292961;
}

.blog-card {
    box-shadow: 0 0 5px 5px aliceblue;
    border-radius: .5em .5em .2em .2em;
    margin-bottom: 2em;
}

.blog-header {
    text-align: center;
    padding: 1em;
    color: #292961;
}

.feedlink {
    margin: 1em;
}

.feedlink > a {
    color: #292961;
}


.blog-subheader time::after {
    content: " by "
}

.blog-content {
    padding: 1em 2em;
    font-size: 1.2em;
    text-align: justify;
}

#blog-read-more,
#blog-read-more:visited  {
    color: #292961;
    background: aliceblue;
    border-radius: .5em;
    padding: .25em .5em;
}

.blog-tag {
    background: aliceblue;
    color: #292961;
    padding: .2em .5em;
    border-radius: .5em;
}

.blog-links {
    display: flex;
}

.blog-link {
    margin: auto 2rem;
}

.blog-chip-container {
    padding: 1em;
}

.blog-chip {
    padding: 0.5em 1em;
    margin: 0 1em;
    border-radius: .25em;
    border: 1px solid lightgrey
}

.blog-header > h2 > a:hover,
.list-inline-item > a:hover,
.blog-link a:hover,
.postlist a:hover,
.feedlink > a:hover,
code {
    color: #296129;
}

code {
	font-weight: bold;
}

article.blog-content > div > p > code {
	font-weight: bold;
	font-size: 105%;
}

.blog-content  h2, h3 {
	color: #292961;
}

.utterances {
    max-width: 100%;
}

.list-inline {
    display: flex;
    flex-flow: row wrap;
}

.list-inline-item {
    margin: 1em .5em;
}

.services-headline,
.content-headline {
    margin: auto auto 2rem auto;
    color: #296129;
    font-size: 1.2rem;
    padding: 1.2rem;
    max-width: 800px;
}

.contact-container {
    display: flex;
    justify-content: center;
}

.contact-form {
    margin: 0 2em;
    padding-top: 1em;
}

.contact-form form  {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    border-radius: .25em;
    margin-bottom: .5em;
}

.contact-info {
    padding-top: 1em;
    margin: 0 2em;
}

.contact-info > h5 {
    color: #292961;
}

.services-card,
.content-card {
    box-shadow: 0px 0px 5px 5px aliceblue;
    border-radius: 1em;
    max-width: 800px;
    padding: 1em 4em;
    margin: 3rem auto;
}

.services-card h2::before {
    content: " ";
    background: url("../img/code.svg");
    height: 5rem;
    width: 5rem;
    margin: .5em auto;
    display:block;
}

.services-card h2 {
    color: #292961;
    text-align: center;
    font-size: 1.5em;
}

.services-card h2::after {
    content: " ";
    border-bottom: 2px solid rgba(41,97,41, 0.2);
    width: 100px;
    margin: 1em auto;
    display: block;
}

.services-card p, .content-card p {
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.6em;
    color: #296129;
}

.page-header-1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    padding: 1em;
    color: #296129;
}

.navbar-brand {
    max-width: 256px;
}

.home-card > p {
    max-width: 40rem;
    margin: auto;
    line-height: 1.6rem;
    font-size: 1.2rem;
}

.hero-banner-sm {
    position: relative;
    display: table;
    width: 100%;
    height: 600px;
    text-align: center;
    background-color: #1e2b38;
    background-size: cover;
}

.hero-banner-sm .container-inner {
    display:table-cell;
    vertical-align: middle;
    color: aliceblue;
}

.hero-banner-sm .headline {
    font-size: 2rem;
    line-height: .9em;
}

.hero-banner-sm .headline::after {
    display: block;
    content: "";
    border-bottom: 2px solid;
    max-width: 5em;
    width: 5%;
    margin: .75em auto;
}

.hero-banner-sm .sub-headline {
    max-width: 24em;
    margin: auto;
    font-size: 1.2em;
}

/* ==========================================================================
    Media Query for .hero-banner-md (width: 768)
   ========================================================================== */

   @media only screen and (max-width: 768px) and (min-width: 577px) {}

/* ==========================================================================
    Media Query for .hero-banner-sm (width: 576)
   ========================================================================== */

   @media only screen and (max-width: 576px) {
       .hero-banner-sm {
           height: 320px;
       }

       .hero-banner-sm .headline {
           font-size: 1.2em;
       }

       .hero-banner-sm .sub-headline {
           font-size: 1em;
       }

       .hero-banner-sm .scroll-down {
           display: none;
       }

       .primary-footer {
           display: flex;
           flex-direction: column;
       }

       .navbar-brand {
           max-width: 128px;
       }

       .services-card, .content-card {
           box-shadow: 0 0 5px 5px aliceblue;
           padding: .5em 1em;
       }

       .services-card > p, .content-card > p {
           font-size: 1em;
           line-height: 1.4em;
        }

        .contact-container {
            flex-direction: column;
            padding: 1em 0.5em;
        }

        .contact-info, .contact-info > p {
            text-align: center;
        }

        .blog-header {
            padding: .5em .5em;
        }

        .blog-header > h2 {
            font-size: 1.75em;
        }

        .blog-content {
            padding: 1em 1em;
            font-size: 1em;
        }

        .blog-chip-container {
            display: flex;
            flex-direction: column;
            padding: .5em;
        }

        .blog-chip {
            padding: .2em;
            margin: 0;
        }

        .listdate {
            font-size: .7rem;
        }
   }

/* Create a bouncing scroll-down arrow on homepage with cover image */
.scroll-down {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 45px;
    left: 50%;
    margin-left: -16px;
    width: 34px;
    height: 34px;
    font-size: 44px;
    text-align: center;
    text-decoration: none;
    color: rgba(255,255,255,0.7);
    -webkit-animation: bounce 4s 2s infinite;
    animation: bounce 4s 2s infinite;
}

/* Stop it bouncing and increase contrast when hovered */
.scroll-down:hover {
    color: #fff;
    -webkit-animation: none;
    animation: none;
}

/* Used to bounce .scroll-down on home page */
@-webkit-keyframes bounce {
    0%, 10%, 25%, 40%, 50% {
        -webkit-transform: translateY(0) ;
                transform: translateY(0) ;
    }
    20% {
        -webkit-transform: translateY(-10px) ;
                transform: translateY(-10px) ;
    }
    30% {
        -webkit-transform: translateY(-5px) ;
                transform: translateY(-5px) ;
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0) ;
                transform: translateY(0) ;
    }
    40% {
        -webkit-transform: translateY(-10px) ;
                transform: translateY(-10px) ;
    }
    60% {
        -webkit-transform: translateY(-5px) ;
                transform: translateY(-5px) ;
    }
}

/* ==========================================================================
   Icons - Sets up the icon font and respective classes
   ========================================================================== */

/* Import the font file with the icons in it */
@font-face {
  font-family: 'genericons';
  src: url('../fonts/Genericons.eot');
  src: url('../fonts/Genericons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Genericons.woff') format('woff'),
       url('../fonts/Genericons.ttf') format('truetype'),
       url('../fonts/Genericons.svg#entypo') format('svg');
  font-weight: normal; font-style: normal;
}

/* Apply these base styles to all icons */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "genericons", "Open Sans", sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
    content: "\f200";
}
.icon-linkedin:before {
    content: "\f208";
}
.icon-arrow-left:before {
    content: "\f431";
}

.navbar-light .navbar-nav .active > .nav-link   {
    display: inline-block;
    color: #292961;
    border-bottom: 2px solid #296129;
}

.navbar-light .navbar-nav  .nav-link   {
    color: #296129;
}

/* Footer Styles */
.label {
    display: flex;
    flex-direction: column;
}

a:hover{
    text-decoration: none;
    color: black;
}

.site-footer {
    background: aliceblue;
    text-align: center;
}

.primary-footer {
    display: flex;
    justify-content: center;
}

.primary-contact {
    margin: 0 2em;
}

.contact-card {
    margin: 0 2em;
}

.site-footer .headline {
    text-transform: uppercase;
    font-size: 1.1em;
    line-height: 1.28205em;
    font-weight: 700;
    color: #292961;
}

.traditional-methods {
    list-style-type: none;
    padding-left: 0;
}

.site-footer .contact-method {
    font-size: 1em;
    line-height: 1.73077em;
    font-weight: 700;
    color: #296129;
}

.copyright {
    font-size: 0.6em;
}

img {
    max-width: 100%;
}

.titlebox {
    text-align: right;
}

.btn {
    padding: .1em;
}


td.label {
    /* Issue #290 */
    background-color: inherit;
}

.footnote-reference {
    /* Issue 290 */
    vertical-align: super;
    font-size: xx-small;
}

.caption {
    /* Issue 292 */
    text-align: center;
    padding-top: 1em;
}

div.figure>img,
div.figure>a>img {
    /* Issue 292 */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote p,
blockquote {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.25;
}

ul.bricks>li {
    display: inline;
    background-color: lightblue;
    padding: 8px;
    border-radius: 5px;
    line-height: 3;
    white-space: nowrap;
    margin: 3px;
}

pre,
pre code {
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
}

article.post-micro {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

.image-block {
    display: inline-block;
}

.tags {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    text-align: center;

}

.tags>li {
    display: inline-block;
}

.tags>li a {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color: #868e96;
}

.tags>li a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #6c757d;
}

.posttranslations h3 {
    display: inline;
    font-size: 1em;
    font-weight: bold;
}

.posttranslations h3:last-child {
    display: none;
}

.entry-content {
    margin-top: 1em;
}

/* for alignment with Bootstrap's .entry-content styling */
.entry-summary {
    margin-top: 1em;
}

/* Custom page footer */
#footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.codetable {
    table-layout: fixed;
}

.codetable pre {
    overflow-x: scroll;
}

/* hat tip bootstrap/html5 boilerplate */
@media print {

    *,
    *:before,
    *:after {
        font-family: Garamond, Junicode, serif;
    }

    body {
        font-size: 12pt;
    }

    article .entry-title a[href]:after,
    article .metadata a[href]:after,
    article .tags a[href]:after {
        content: "";
    }

    article .metadata .sourceline {
        display: none;
    }

    article .metadata .linkline a[href]:after {
        content: " ("attr(href) ")";
    }

    .navbar {
        display: none;
    }
}

pre {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.75rem;
}

pre.code {
    background: aliceblue;
}

ul.navbar-nav {
    margin-top: 0;
}

ul.pager {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    padding-left: 0;
    margin: 0.5rem 0;
}

ul.pager li.previous {
    margin-right: auto;
    display: inline;
}

ul.pager li.next {
    margin-left: auto;
    display: inline;
}


ul.pager li a {
    display: inline;
    position: relative;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    border: 1px solid #ddd;
    border-radius: .25rem;
    background-color: aliceblue;
}

.codetable td {
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.codetable td.linenos pre {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.codetable td.code pre.code {
    margin-left: 0;
    margin-right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* We need to add following style because, bootstrap clears all styling for table */
th, td {
    border: 1px solid gray;
    padding: 0.5em;
}

th {
    background: aliceblue;
    color: #292961;
}

a {
    color: #292961;
}

a:hover {
    color: #296129;
}

.blog-content a {
    text-decoration: underline;
}
